<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="SSMSEntities" connectionString="metadata=res://*/SSMSEntities.csdl|res://*/SSMSEntities.ssdl|res://*/SSMSEntities.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=D:\BaiduYunDownload\SSMS2\SSMS2\DB\SSMSDB.sdf;password=weiwei;persist security info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>